.about {
  display: flex;
  flex-direction: column;

  text-align: left;

  margin: 100px 0;
}

.about__title-container {
  width: 100%;
  max-width: 806px;
}

.about__title {
  display: inline;

  font-family: Merriweather-Regular, sans-serif;
  font-size: 54px;
  line-height: 120%;
  color: #313131;
  text-transform: uppercase;
}

.about__text {
  display: inline-block;

  width: 280px;
  margin-left: 15px;

  font-family: GolosText-Regular, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #3057a2;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "railroad hotel agriculture"
    "palace garages agriculture"
    "radio airport airport";
  gap: 20px;
}

.about__grid-item {
  padding: 20px 20px 20px 72px;
  font-family: GolosText-Medium, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  background-image: url("../../assets/images/element-bg.png");
  counter-increment: my-counter;
}

.about__railroad {
  grid-area: railroad;
}

.about__hotel {
  grid-area: hotel;
}

.about__agriculture {
  grid-area: agriculture;
}

.about__palace {
  grid-area: palace;
}

.about__garages {
  grid-area: garages;
}

.about__radio {
  grid-area: radio;
}

.about__airport {
  grid-area: airport;
  padding-right: 290px;
}
