.header {
  display: flex;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 1366px;
  padding: 26px 0;

  z-index: 10;
}

.header__logo {
  margin-left: 72px;
}

@media screen and (max-width: 790px) {
  .header {
    padding: 18px 0;
  }

  .header__logo {
    width: 213px;
    margin-left: calc(20px + (72 - 20) * ((100vw - 375px) / (1366 - 375)));
  }
}
