.promo {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #e9ded4;
  overflow: clip;
}

.promo__title {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 124px;
  left: calc(72px + (348 - 72) * ((100vw - 1366px) / (1920 - 1366)));

  max-width: 542px;

  font-family: Merriweather-Regular, sans-serif;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: left;

  animation: titleAppear 2s linear forwards;

  z-index: 8;
}

.promo__title_span {
  text-align: center;
}

.promo__title_span:last-of-type {
  text-align: right;
}

.promo__sun {
  position: absolute;
  right: calc(25px + (250 - 25) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: 25px;

  animation: rotateText 30s linear infinite;
  z-index: 2;
}

.promo__king {
  position: absolute;
  right: calc(506px + (795 - 506) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: -100px;
  transform: rotate(-5.99deg);

  animation: kingAppear 2s ease-out forwards;
  animation-delay: 1s;
  z-index: 4;
}

.promo__queen {
  position: absolute;
  right: calc(159px + (450 - 159) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: -100px;
  transform: rotate(7.59deg);

  animation: queenAppear 2.5s ease-out forwards;
  animation-delay: 1.5s;
  z-index: 4;
}

.promo__city {
  position: absolute;
  right: calc(130 * ((100vw - 1366px) / (1920 - 1366)));
  bottom: 0;
  z-index: 5;

  animation: cityAppear 2s ease-out forwards;
}

.promo__pattern {
  width: 100%;
  height: 100%;
  position: relative;
  mix-blend-mode: color-burn;
  z-index: 6;
}

.promo__horse {
  position: absolute;
  right: calc(334px + (630 - 334) * ((100vw - 1366px) / (1920 - 1366)));
  top: -200px;

  animation: horseDrop 1s ease-in forwards, horseBounce 1s 1s ease-out forwards;
  z-index: 7;
}

.promo__pawn {
  position: absolute;
  right: -100px;
  bottom: 19px;

  animation: pawnSlideIn 2s ease-out forwards;
  animation-delay: 2s;
  z-index: 7;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes kingAppear {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 170px;
    opacity: 1;
  }
}

@keyframes queenAppear {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 270px;
    opacity: 1;
  }
}

@keyframes horseDrop {
  0% {
    top: -200px;
  }
  100% {
    top: 495px;
  }
}

@keyframes horseBounce {
  0% {
    top: 495px;
  }
  40% {
    top: 440px;
  }
  100% {
    top: 495px;
    transform: rotate(-10.59deg);
  }
}

@keyframes pawnSlideIn {
  0% {
    right: -100px;
  }
  100% {
    right: calc(44px + (320 - 44) * ((100vw - 1366px) / (1920 - 1366)));
  }
}

@keyframes titleAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
