.promo {
  position: relative;
  display: flex;

  width: 100%;
  height: 700px;

  background-color: #e9ded4;
  overflow: clip;
}

.promo__wrapper {
  display: flex;

  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.promo__content {
  display: flex;
  flex-direction: column;

  position: relative;

  width: 100%;
  max-width: 542px;
  height: fit-content;
  margin-left: 72px;
  top: 124px;

  z-index: 8;
}

.promo__title {
  display: flex;
  flex-direction: column;

  font-family: Merriweather-Regular, sans-serif;
  font-size: 60px;
  line-height: 110%;
  color: #313131;
  text-transform: uppercase;
  text-align: left;

  animation: textAppear 2s linear forwards;
}

.promo__title_span {
  text-align: center;
}

.promo__title_span:last-of-type {
  text-align: right;
}

.promo__description {
  margin-top: 24px;

  font-family: GolosText-Regular, sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: #313131;
  text-align: center;

  opacity: 0;

  animation: textAppear 2s linear forwards;
  animation-delay: 1s;
}

.promo__buttons-container {
  display: flex;

  margin-top: 40px;

  gap: 16px;

  animation: textAppear 2s linear forwards;
}

.promo__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 263px;
  height: 72px;
  padding: 20px 49px;
  border: 2px solid #1f1f1f;
  border-radius: 60px;

  font-family: GolosText-Medium, sans-serif;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-decoration: none;
  color: #1f1f1f;

  transition: all 0.3s ease;
}

.promo__button:hover {
  background-color: #1f1f1f;
  color: #ffffff;
}

.promo__button_black {
  color: #ffffff;
  background-color: #1f1f1f;
  border: none;
}

.promo__button_black:hover {
  color: #1f1f1f;
  background-color: #fbce51;
}

.promo__sun {
  position: absolute;
  right: calc(-25px + (250 + 25) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: 25px;

  animation: rotateText 30s linear infinite;
  z-index: 2;
}

.promo__king {
  position: absolute;
  right: calc(517px + (783 - 517) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: -100px;
  transform: rotate(-5.99deg);

  animation: kingAppear 2s ease-out forwards;
  animation-delay: 1s;
  z-index: 4;
}

.promo__queen {
  position: absolute;
  right: calc(179px + (450 - 179) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: -100px;
  transform: rotate(7.59deg);

  animation: queenAppear 2.5s ease-out forwards;
  animation-delay: 1.5s;
  z-index: 4;
}

.promo__city {
  position: absolute;
  right: calc(-141px + (135 + 141) * ((100vw - 1366px) / (1920 - 1366)));
  bottom: 0;
  z-index: 5;

  animation: cityAppear 2s ease-out forwards;
}

.promo__pattern {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: color-burn;
  z-index: 6;
}

.promo__horse {
  position: absolute;
  right: calc(354px + (630 - 354) * ((100vw - 1366px) / (1920 - 1366)));
  top: -200px;

  animation: horseDrop 1s ease-in forwards, horseBounce 1s 1s ease-out forwards;
  z-index: 7;
}

.promo__pawn {
  position: absolute;
  right: -100px;
  bottom: 19px;

  animation: pawnSlideIn 2s ease-out forwards;
  animation-delay: 2s;
  z-index: 7;
}

@media screen and (max-width: 1366px) {
  .promo__title {
    font-size: min(60px, 5.5vw);
  }

  .promo__button_white {
    background-color: #ffffff;
    border: none;
  }
}

@media screen and (max-width: 790px) {
  .promo {
    height: 774px;
    justify-content: center;
  }

  .promo__wrapper {
    justify-content: center;
  }

  .promo__content {
    margin: 0 auto;
    max-width: calc(335px + (542 - 335) * ((100vw - 375px) / (790 - 375)));
    top: 90px;
  }

  .promo__title {
    font-size: max(36px, 7vw);
  }

  .promo__description {
    text-align: left;
  }

  .promo__buttons-container {
    margin-top: 32px;
    flex-direction: column;
  }

  .promo__button {
    width: 100%;
    height: 47px;
    padding: 18px 43px;
  }

  .promo__sun {
    content: url("../../assets/images/mobile/sun_with_text_mobile.svg");

    right: 20px;
    bottom: 40px;
  }

  .promo__king {
    content: url("../../assets/images/mobile/king_mobile.png");

    right: 257px;

    animation: kingAppearMobile 2s ease-out forwards;
  }

  .promo__queen {
    content: url("../../assets/images/mobile/queen_mobile.png");

    right: 95px;
    transform: rotate(15deg);

    animation: queenAppearMobile 2s ease-out forwards;
  }

  .promo__city {
    content: url("../../assets/images/mobile/city_mobile.png");

    right: 0;
    bottom: -10px;
  }

  .promo__horse {
    content: url("../../assets/images/mobile/horse_mobile.png");

    right: 140px;

    animation: horseDropMobile 1s ease-in forwards,
      horseBounceMobile 1s 1s ease-out forwards;
  }

  .promo__pawn {
    content: "";

    animation: none;
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes kingAppear {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 170px;
    opacity: 1;
  }
}

@keyframes kingAppearMobile {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 111px;
    opacity: 1;
  }
}

@keyframes queenAppear {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 270px;
    opacity: 1;
  }
}

@keyframes queenAppearMobile {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 162px;
    opacity: 1;
  }
}

@keyframes horseDrop {
  0% {
    top: -200px;
  }
  100% {
    top: 495px;
  }
}

@keyframes horseDropMobile {
  0% {
    top: -200px;
  }
  100% {
    top: 700px;
  }
}

@keyframes horseBounce {
  0% {
    top: 495px;
  }
  40% {
    top: 440px;
  }
  100% {
    top: 495px;
    transform: rotate(-10.59deg);
  }
}

@keyframes horseBounceMobile {
  0% {
    top: 665px;
  }
  40% {
    top: 650px;
  }
  100% {
    top: 665px;
    transform: rotate(-10.59deg);
  }
}

@keyframes pawnSlideIn {
  0% {
    right: -100px;
  }
  100% {
    right: calc(44px + (320 - 44) * ((100vw - 1366px) / (1920 - 1366)));
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
