.support {
  display: flex;
  flex-direction: column;

  text-align: left;

  margin: 80px auto 100px;
}

.support__top {
  display: flex;
  align-items: center;
  gap: 64px;
}

.support__content {
  display: flex;
  position: relative;
  left: -27px;

  width: 100%;
  height: 100%;
  max-height: 527px;
  margin-top: 64px;

  gap: 17px;
}

.support__title,
.support__subtitle {
  font-family: Merriweather-Regular, sans-serif;
  font-size: 36px;
  line-height: 135%;
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: "lnum" 1, "pnum" 1;
  text-transform: uppercase;
}

.support__span {
  color: #f54932;
  font-family: Merriweather-Bold, sans-serif;
}

.support__img-container {
  position: relative;
  top: -30px;
}

.support__hand {
  position: absolute;
  bottom: -128px;
  right: 23px;
  z-index: 2;

  animation: moveHand 8s infinite;
}

.support__horse {
  position: absolute;
  bottom: -30px;
  left: 90px;
  z-index: 2;

  animation: hitHorse 8s infinite;
}

.support__boom {
  position: absolute;
  bottom: -13px;
  left: 13px;
  opacity: 0;
  z-index: 1;

  animation: showBoom 8s infinite;
}

.support__filter {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: color-burn;

  z-index: 10;
}

.support__table {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.table {
  margin-top: 60px;
  width: 100%;
  max-width: 704px;
  border-collapse: collapse;
}

.table__caption {
  margin-top: 48px;
  font-family: GolosText-Regular, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #3057a2;
  caption-side: bottom;
}

.table__line {
  border-bottom: 1px solid #d0d0d0;
}

.table__line:first-child .table__head,
.table__line:first-child .table__cell {
  padding-top: 0;
}

.table__line:last-child .table__head,
.table__line:last-child .table__cell {
  padding-bottom: 0;
}

.table__line:last-child {
  border-bottom: none;
}

.table__head {
  width: 306px;

  padding: 16px 0;
  font-family: GolosText-Regular, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
  opacity: 0.7;
  border-right: 1px solid #d0d0d0;
}

.table__head:last-child {
  border-right: none;
}

.table__cell {
  padding: 16px;
  font-family: GolosText-SemiBold, sans-serif;
  font-size: 20px;
  line-height: 120%;
  color: #313131;
}

.table__crossed-out {
  text-decoration: line-through;
  text-decoration-color: #f54932;
}

@media screen and (max-width: 1280px) {
  .support__title,
  .support__subtitle {
    font-size: min(36px, calc(1.5vw + 1.5vh));
  }
}

@keyframes moveHand {
  0%,
  100% {
    bottom: -128px;
    right: 23px;
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    bottom: -158px;
    right: 23px;
    opacity: 1;
  }
  30% {
    bottom: -98px;
    right: 53px;
    transform: rotate(15deg);
    opacity: 1;
  }
  60%,
  100% {
    opacity: 0;
  }
}

@keyframes hitHorse {
  0%,
  20% {
    bottom: -30px;
    left: 90px;
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  30% {
    bottom: -40px;
    left: 70px;
    transform: translate(-20px, -10px) rotate(20deg);
    opacity: 1;
  }
  50% {
    bottom: -200px;
    left: -250px;
    transform: translate(-300px, -170px) rotate(360deg);
    opacity: 0;
  }
  100% {
    bottom: -30px;
    left: 90px;
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes showBoom {
  0%,
  20%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(2);
  }
}
